*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    background: #0EB4C1;
    padding: 80px 160px;
}

.title{
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 110px;
}

.contact-box{
    display: flex;
    justify-content: space-between;
}


.box{
    background-color: #fff;
    width: 540px;
    height: 331px;
    padding: 28px 40px;
    border-radius: 10px;
}

.box input{
    width: 100%;
    padding: 10px 32px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 14px;
}

.btn{
    width: 100%;
    padding: 8px;
    background: #38CC8B;
    box-shadow: 0px -4px 0px 0px #00000017 inset;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}